<h1 mat-dialog-title><span *ngIf="!land.id">Add</span><span *ngIf="land.id">Edit</span> land</h1>
<div mat-dialog-content>
    <form #landForm="ngForm" class="user-form">      

                <div fxLayout="column" class="form-field-outer">

                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Id</mat-placeholder>
                        <input matInput id="id" name="id" [(ngModel)]="land.id" #id="ngModel" required>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Code</mat-placeholder>
                        <input matInput id="code" name="code" [(ngModel)]="land.code" #code="ngModel" required>
                    </mat-form-field>

                  <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Naam</mat-placeholder>
                        <input matInput id="naam" name="naam" [(ngModel)]="land.naam" #naam="ngModel" required>
                    </mat-form-field>


                </div>
               </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="landForm.value" [disabled]="!landForm.valid" (click)="onSave(landForm.value)"><span *ngIf="!landForm.id">Save</span><span *ngIf="landForm.id">Update</span></button>
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>



