<app-content-header
    [title]="'Landen'" 
    [desc]="'View information about the landen, search, add, edit or delete any land.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
        <button mat-raised-button color="accent">Nieuw </button>
    </div>
    <div fxLayout="row">
        <button mat-icon-button class="mx-2">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>view_list</mat-icon>
        </button>
    </div>
</mat-toolbar>

