 
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
         <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
              <app-content-header 
                  [title]="'Login'" 
                  [hideBreadcrumb]="true"
                  [hasBgImage]="true" 
                  [class]="'py-4'"></app-content-header>            
              <div class="p-3">
                  <a mat-button routerLink="/register" color="accent" class="w-100">Don't have an account? Sign up now!</a>
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                      <input matInput type="email" id="email" class="form-control" formControlName="email" placeholder="email">
                      <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
                      <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                      <input matInput type="password" id="password" class="form-control" formControlName="password" placeholder="password">
                      <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
                      <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                  </mat-form-field> 
                  <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">SIGN IN</button>
              </div>
          </form>
    </div>