<div class="container-fluid full-page-container">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-4 col-sm-8 animated fadeIn">
        <!-- Material form login -->
        <div class="z-depth-2">
  
          <div class="white text-center py-4">
            <h5>
              <strong>Log in</strong>
            </h5>
          </div>
  
  
          <!--Card content-->
          <div class="px-lg-5 pt-0">
            <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <!-- Form -->
            <form [formGroup]="loginForm" class="text-center" style="color: #757575;">
  
              <!-- Email -->
              <div class="md-form">
                <input type="email" id="email" class="form-control" formControlName="email">
                <label for="email">E-mail</label>
              </div>
  
              <!-- Password -->
              <div class="md-form">
                <input type="password" id="password" class="form-control" formControlName="password">
                <label for="password">Password</label>
              </div>
  
              <!-- Sign in button -->
              <button color="primary" block="true" class="my-4 waves-effect z-depth-0"
                type="submit" (click)="onLogin()">Log in</button>
  
              <!-- Register -->
              <p>Not a member?
                <a routerLink="/register">Register</a>
              </p>
  
              <!-- Social login -->
              <p>or log in with:</p>
  
            </form>
            <!-- Form -->
  
          </div>
  
        </div>
        <!-- Material form login -->
      </div>
    </div>
  </div>